/*--------------- Home Page--------------- */
body{
    font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
    font-size: 18px;
    line-height: 1.3;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    padding: 0; 
}
td.top{
  vertical-align: top;
}


/*--------------- Home Page--------------- */

/* header section */
div.header{
  background-color: #003660;
}
img.headerimg{
  width: 100%;
  height: 350px;
  object-fit: cover;
}

/* Navigation bar */

nav {
  background-color: #003660;
  display: block;
  margin: auto;
  width: 100%;
  overflow: hidden;
  text-align: center;
}
nav ul li {
  display: inline-block;
  list-style-type: none;
  font-size: 20px;

  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
nav > ul > li > a {
    color: rgb(255,255,255);
    display: block;
    line-height: 25px;
    padding: 0 30px;
    text-decoration: none;
}
nav > ul > li:hover > a {
    color: #FBBB33;
}
.active {
    color: #FBBB33;
}

div.recruit{
  vertical-align: top;
  text-align: center;
  border-width: 0.5px;
  border-style: solid;
}

img.cloudimg{
  width: 100%;
  height: 350px;
  object-fit: scale-down;
}


/* content part */
div.homepara{
    font-size: medium;
    text-align: left;
}

span.googlebutton{
  content: "\e9d4";
}


/* News list section */
#labnews{
    text-indent: 1em;
    font-size: 25px;
    font-style: italic;
    line-height: 0.5;
}
ul.newsdate{
    margin-left: -1em;
    font-size: medium;
    line-height: 2;
    list-style-type: none;
}
ul.newsitem{
    font-size: 14px;
    line-height: 1.3;
    list-style-type: disc;
}


/*--------------- Research Page--------------- */
ul.research{
    padding: 0;
    font-size: medium;
    list-style-type: none;
}
img.research{
  float: right;
}

/*--------------- People Page--------------- */
div.button.a{
  float: left;
  padding: 6px;
  width:20%;
  text-align: center;
}

ul.people{
  padding: 0;
  font-size: medium;
  list-style-type: none;
}
li.people{
  padding-left: 30px
}
img.peopleimg{
  width: 100%;
  height: 100%;
  object-fit: contain;
  
}
div.personcontainer{
  height: 10%;
  display: flex;
}
div.head{
  float:left;
  width: 20%;
  height: 100%;
}
div.intro{
  float:right;
  padding-left: 20px;
  width: 80%;
  height: 100%;

}
div.button{
  width:100%;
  height: 100px;
  overflow:auto;
}
div.button.a{
  float: left;
  padding: 6px;
  width:15%;
  text-align: center;
}

ul.collaborator{
  margin-left: -1em;
  font-size: medium;
  line-height: 1.5;
  list-style-type: none;
}
ul.collaboratorouter{
  font-size: large;
  line-height: 2;
  list-style-type: none;
}

/*--------------- Publication Page--------------- */
/* Publication list section */
#pubinstr{
    font-weight: bold;
    font-size: 16px;
}

p.pubsubtitle{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}
ul.ref{
    margin-left: 2em;
    font-size: 15px;
}

p.pubyear{
    margin-left: 1em;
    font-size: medium;
}

/*--------------- Contact Page--------------- */
p.contactpage{
  font-size: large;
  text-align: center;
  line-height: 25px;
}