/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: $header-height;
    min-width: $content-width;


    // Positioning context for the mobile navigation icon
    position: fixed;
    width: $content-width;
    left: $sidebar-width;

    background-color: #ffffff;
    opacity:1;
    filter:alpha(opacity=100);

    z-index:3; 
}


.site-title {
    position:fixed;

    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    margin-left: 1em;
    float: center;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    

    position:relative;
    float:left;
    margin-top:auto;
    margin-buttom:auto;
    

    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: none;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: inline;
        }

        &:hover .trigger {
            display: inline;
            padding-bottom: 5px;
            
        }

        .page-link {
            display: inline;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

.navigation-list{
    font-size:$nav-font-size;
    list-style:none;
    margin-left: $spacing-unit;
    display: inline;
}


/**
*  home container
*/
.news-heading{
    margin-left:0;
    font-size: 26px;
}

.news-date{
    margin-left: 0;
    font-size:$base-font-size+1; 
    list-style:none;
}
.news-content {
    font-size:$base-font-size;
    margin-left: 1.5rem;
    list-style-type:disc;
}

.news-content li{
    margin-bottom: 1.5rem;
}




/** 
* site left side bar
*/
.site-sidebar{
    position:fixed;
    width:#{$sidebar-width};
    height:100%;
    left:0px;


    text-align: center;
    padding: 2rem 1rem;
    color: rgba(255,255,255,.5);
    background-color: #202020;

    z-index:999;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}





/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0em;
    position: fixed;
    bottom:0;
    height:$footer-height;
    margin-left: $sidebar-width;
    min-width: $content-width;

    text-alingn : center;


    background-color: #ffffff;
    opacity:1;
    filter:alpha(opacity=100);
    z-index:2;
    
}

.footer-heading {
    font-size: 14px;
    margin-bottom: $spacing-unit / 4;
}




.footer-col-wrapper {
    font-size: 12px;
    color: $grey-color;
    margin-left: spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}


.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 1em;
    position: relative;

    top:$header-height;
    left:$sidebar-width;
    
    max-width:$content-width;
    height: auto;

    margin-left: 1rem;
    overflow: scroll;

    font-size:$small-font-size;
    z-index:1;
    
}

.page-heading {
    padding: $spacing-unit 0;
    font-size: 20px;
    position: relative;
    float:left;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
